/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("fonts/PTSansRegular/PTSansRegular.eot");
    src: url("fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PTSansItalic";
    src: url("fonts/PTSansItalic/PTSansItalic.eot");
    src: url("fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("fonts/PTSansBold/PTSansBold.eot");
    src: url("fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "SansationRegular"; */
@font-face {
    font-family: "SansationRegular";
    src: url("fonts/SansationRegular/SansationRegular.eot");
    src: url("fonts/SansationRegular/SansationRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/SansationRegular/SansationRegular.woff") format("woff"),
    url("fonts/SansationRegular/SansationRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SansationBold"; */
@font-face {
    font-family: "SansationBold";
    src: url("fonts/SansationBold/SansationBold.eot");
    src: url("fonts/SansationBold/SansationBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/SansationBold/SansationBold.woff") format("woff"),
    url("fonts/SansationBold/SansationBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SansationItalic"; */
@font-face {
    font-family: "SansationItalic";
    src: url("fonts/SansationItalic/SansationItalic.eot");
    src: url("fonts/SansationItalic/SansationItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/SansationItalic/SansationItalic.woff") format("woff"),
    url("fonts/SansationItalic/SansationItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SansationLight"; */
@font-face {
    font-family: "SansationLight";
    src: url("fonts/SansationLight/SansationLight.eot");
    src: url("fonts/SansationLight/SansationLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/SansationLight/SansationLight.woff") format("woff"),
    url("fonts/SansationLight/SansationLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SansationBoldItalic"; */
@font-face {
    font-family: "SansationBoldItalic";
    src: url("fonts/SansationBoldItalic/SansationBoldItalic.eot");
    src: url("fonts/SansationBoldItalic/SansationBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/SansationBoldItalic/SansationBoldItalic.woff") format("woff"),
    url("fonts/SansationBoldItalic/SansationBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SansationLightItalic"; */
@font-face {
    font-family: "SansationLightItalic";
    src: url("fonts/SansationLightItalic/SansationLightItalic.eot");
    src: url("fonts/SansationLightItalic/SansationLightItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/SansationLightItalic/SansationLightItalic.woff") format("woff"),
    url("fonts/SansationLightItalic/SansationLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
