// Основные цвета
maincolor = #119BD6
mainactive = #3ab4e8
mainborder = #d2d2d2
menucolor = #524733
menuline = #4B5441
menuactive = #5b654f
text = #238050
textcolor = rgba(35, 128, 80, .8)
selec = rgba(67, 162, 113, 0.8)
shadow = #444040
shadowhov = #171515

tablecolor = #0da555
tableline = #ebecec
tableborder = #e1e1e1

contactcolor = #00a0e3
contactbutton = #d93838

groupcolor = #9ad99a

// Шрифты
namefont = 'PTSansRegular', Arial
hfont = 'SansationRegular', sans-serif

trans = .15s linear
trans1 = .4s ease-out
wheader = 270px
wmed = 210px
sprice = 160px
pprice = -80px

// Граница у стрелочек
bord = 4px solid text
